<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ metadata.title }}</title>
  <meta name="keywords" content="{{ metadata.keywords }}" />
  <meta name="description" content="{{ metadata.description }}" />
  {# https://vite.dev/guide/backend-integration.html #}

  {%- set manifest = manifest() %}
  {%- for cssFile in manifest[resource_name].css | default(value=[]) %}
  <link rel="stylesheet" href="/static/{{ cssFile }}" />
  {%- endfor %}

  {%- set imported_chunks = imported_chunks(name=resource_name) | default(value=[]) %}
  {%- for chunk in imported_chunks %}
  {%- for cssFile in chunk.css | default(value=[]) %}
  <link rel="stylesheet" href="/static/{{ cssFile }}" />
  {%- endfor %}
  {%- endfor %}

  <script type="module" src="/static/{{ manifest[resource_name].file}}"></script>

  {%- for chunk in imported_chunks %}
  <script type="modulepreload" src="/static/{{ chunk.file}}"></script>
  {%- endfor %}
  {% block head %}
  {% endblock %}
</head>

<body>
  <div id="app">
    <header>
      {% include "partials/navbar.html" %}
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </div>
  {% block script %}{% endblock %}
</body>

</html>